
   body { margin: 0; position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
    
    .land {
      fill: black;
      fill-opacity: 0.1;
      stroke: black;
      stroke-width: 0.5;
    }
    
    .earthquake {
      fill-opacity: 0.5;
      stroke: black;
      stroke-width: 0.5;
    }
    
    text {
      font-family: sans-serif;
    }
    
    .pulse {
      fill: none;
      stroke: black;
      stroke-width: 0.5;
    }